*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{ 
    background-image: linear-gradient(90deg,#c75850,#f3b983);
    color: white;
    font-family: "Caveat", cursive;
}

header{
    font-size: 1.5rem;
    padding-bottom: 5vh;
    padding-top: 2vh;
}

header, form {
    min-height: 2vh;    
    display: flex;
    justify-content: center;
    align-content: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #c75850;   
    cursor: pointer;
    background: white;
}

form button:hover {
    background: #c75850;
    color: white;
    transition: 0.3s ease-in-out;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .2s ease
}

.todo li {
    flex: 1;
}

.todo-item {
    
    padding-left: 1rem;
}
.trash-btn, .completed-btn {
    background: #c75850;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
}
.completed-btn{
    background:  rgba(76, 185, 76, 0.692);
}
.completed-btn:hover {
    background: rgba(53, 158, 53, 0.89);
    transition: 0.3s ease-in-out;
}

.trash-btn:hover {
    background: rgb(148, 59, 56);
    transition: 0.3s ease-in-out;
}

.fa-trash-alt, .fa-check-square {
    pointer-events: none;
}
.completed {
    text-decoration: line-through;
    opacity: 65%;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-apprearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #c75850 ;
    width: 5rem;
    cursor: pointer; 
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}


.select:after {
    content: "\25BC";
    position: absolute;
    background: #c75850;
    top: 0;
    right: 0;
    padding: 0.3rem;
    pointer-events: none;
}

.select:hover::after {
    background: rgb(148, 59, 56);
    transition: all 0.3s ease;
    
}

